.todo-bar {
	display: flex;
	flex-direction: column;
}

.todo-bar input[type="text"] {
	display: block;
	font-size: 18px;
	padding: 5px;
}

.todo-bar button {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
}

.todo-bar-filter {
	display: inline;
	margin-top: 5px;
}
