.todo-list-item {
	display: grid;
	grid-template-columns: 80fr 10fr 10fr;
	column-gap: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding: 8px;
}

.todo-list-item label {
	font-size: 16px;
}

.todo-list-item button {
	background: transparent;
	border: 0;
}

.todo-list-item button:focus {
	outline: transparent;
}
